* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
  padding: 0;
}

.welcome-message {
  background-color: #f0f0f0;
  color: #333;
  padding: 10px 10px;
  text-align: center;
  margin: 5px auto;
  width: 95%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
}

.welcome-message h2 {
  color: #003366;
  font-size: 2.5em;
}

.welcome-message p {
  font-size: 1.2em;
  margin: 10px 0;
  line-height: 1.6;
}

.message-cards {
  padding: 10px;
  background-color: #e0f7fa;
}

.card {
  width: 100%;
  background-color: #fff;
  border: 2px solid #003366;
  border-radius: 10px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  overflow: visible;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.card-content {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.card-img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.message-text {
  flex: 1;
  width: 100%;
}

.card h3 {
  font-size: 1.8em;
  color: #d32f2f;
}

.card p {
  color: #333;
  margin: 10px 0;
  word-wrap: break-word;
  line-height: 1.6;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .card-img {
    margin-right: 0;
    margin-bottom: 15px;
    width: 50%;
  }

  .card-content {
    flex-direction: column;
    align-items: center;
  }

  .card h3,
  .card p {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .message-text h3 {
    font-size: medium;
  }

  .message-text p {
    font-size: smaller;
  }
}

@media (max-width: 420px) {
  .message-cards {
    padding: 10px;
  }

  .welcome-message {
    font-size: xx-small;
  }
}
