body {
  font-family: "Arial", sans-serif;
  background-color: #e0f7fa;
  color: #333;
  margin: 0;
  padding: 0;
}

.collaborators{
  background-color: #e0f7fa;
}
h1 {
  text-align: left; 
  margin: 20px 0;
  font-size: 2.5em;
  color: #19366b; 
}

.collaborators-description {
  text-align: left; 
  color: #555;
  margin-bottom: 40px;
}
.collaborators {
  text-align: center;
  padding: 10px 20px;
}

.collaborators h2 {
  color: #003366;
  font-size: 200%;
  margin-bottom: 30px; 
}

.collaborator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 20px; 
  max-width: 1200px; 
  margin: 0 auto; 
}

.collaborator {
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
}

.collaborator img {
  max-width: 60%; 
  height: auto;
  transition: transform 0.3s;
}

.collaborator:hover img {
  transform: scale(1.15); 
}

@media (max-width: 1200px) {
  .collaborator-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 800px) {
  .collaborator-grid {
    grid-template-columns: repeat(3, 1fr); 
  }
  h1{
    font-size: 1.8rem;
    margin: 10px;
  }
  .collaborators-description{
    font-size: 1.1rem;
  }
}

@media (max-width: 500px) {
  .collaborator-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .collaborator img {
    max-width: 80%; 
  }
  h1{
    font-size: 1.5rem;
    margin: 10px;
  }
  .collaborators-description{
    font-size: 0.9rem;
  }
}
