body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.por-section {
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: left; /* Align title to the left */
    margin: 20px 0;
    font-size: 2.5em;
    color: #19366b; /* Color for the title */
    padding-left: 15px;
}

.por-description {
    text-align: left; /* Align paragraph to the left */
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
    padding-left: 15px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    /* max-width: 1200px; */
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 15px;
    text-align: center;
    width: calc(30% - 40px); /* 3 cards in a row with space */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex; /* Flexbox for vertical alignment */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align items */
}

.card:hover {
    background-color: #19366b;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.card:hover h3 {
    color: white;
}

.card img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 15px 0; /* Space around the image */
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1); /* Zoom in effect on hover */
    border: 2px solid white;
}

.card h2 {
    font-size: 1.5em;
    margin: 0; /* No margin for title */
}

.card h3 {
    color: black;
    font-size: 1.2em;
    margin: 5px 0;
}

@media (max-width: 768px) {
    .card {
        width: calc(45% - 30px); /* Adjust width for smaller screens */
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(90% - 30px); /* Adjust width for mobile screens */
    }
}
