/* Default styles for desktop/larger screens */
body {
    font-size: 16px;
    padding: 0px;
  }
  
  /* Tablet screens (768px and below) */
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
      padding: 0px;
    }
    .navbar {
      flex-direction: column;
    }
    /* Adjust other elements for tablet */
  }
  
  /* Mobile screens (480px and below) */
  @media screen and (max-width: 480px) {
    body {
      font-size: 12px;
      padding: 0px;
    }
    .navbar {
      flex-direction: column;
      font-size: 14px;
    }
    /* Adjust other elements for mobile */
  }
  