/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body Styles */
body {
    background-color: #f0f0f0;
    color: #333;
    padding: 0px; /* Added padding for overall spacing */
}


/* Banner Section */
.banner {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the banner area */
    position: absolute; /* Positioning to layer text over the image */
    top: 0;
    left: 0;
    z-index: 1; /* Image behind the text */
}

.banner-text {
    position: relative; /* Allows text to be layered above the image */
    z-index: 2; /* Text above the image */
    color: white;
    text-align: center;
    padding-top: 150px; /* Space from the top */
}

.banner-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.banner-text p {
    font-size: 1.5em;
}
/* Welcome Message Section */
.welcome-message {
    background-color: #ffffff;
    padding: 10px;
    margin: 20px 0; /* Margin adjusted for top/bottom */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: left; /* Left align text */
    animation: fadeIn 1s ease-in-out;
    margin-left: auto;
    margin-right: auto; /* Center the welcome message */
}

.welcome-message h2 {
    color: #2c3e50; /* Formal color */
    margin-bottom: 15px;
}

/* Messages Section */
.messages {
    margin: 20px auto;
}

/* Individual Message Styles */
.message {
    background-color: #ffffff;
    padding: 10px;
    margin: 20px 0; /* Margin adjusted for top/bottom */
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: left; /* Left align text */
    animation: fadeIn 1s ease-in-out;
    margin-left: auto;
    margin-right: auto; /* Center the welcome message */
}

.message h3 {
    color: #2980b9; /* Formal color */
    margin-bottom: 10px;
}

.profile-photo {
    width: 190px;
    height: 190px; /* Set height equal to width for a perfect circle */
    border-radius: 50%; /* Ensures a round shape */
    float: left;
    margin-right: 15px;
}
/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .profile-photo {
        width: 70px;
    }

    .welcome-message, .message {
        margin: 10px;
        padding: 20px;
    }
}