{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSS NSUT CELL</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" /> 
    <link rel="stylesheet" href="{% static 'events.css' %}" />
    <link rel="stylesheet" href="{% static 'navigation.css' %}" />

    <link rel="icon" href="{% static 'images/header-images/nss-logo.png' %}" type="image/x-icon" />
  </head>
  <body>
    <div id="header"></div>

    <div id="navigation"></div>

    <main>
      <section class="events-section">
        <h1>Events organised by NSS NSUT CELL</h1>
        <p>
          At <b>NSS NSUT</b>, we believe in the power of action. Over the years,
          we have organized a wide array of events aimed at making a tangible
          difference in society, while also fostering a spirit of leadership and
          community service among our volunteers. Below is a glimpse into some
          of the impactful events that have shaped our journey.
        </p>

        <div class="main">
          <div class="main">

            <div class="event">
              <div class="slider-container">
          <div class="slider">
            <img
              src="{% static 'images/events-images/Mock-drill-session/cover.PNG' %}"
              alt="cramp simulator"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/Mock-drill-session/1.jpeg' %}"
              alt="cramp simulator"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/Mock-drill-session/2.jpeg' %}"
              alt="cramp simulator"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/Mock-drill-session/3.jpeg' %}"
              alt="cramp simulator"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/Mock-drill-session/4.jpeg' %}"
              alt="cramp simulator"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/Mock-drill-session/5.jpeg' %}"
              alt="cramp simulator"
              class="event-image"
            />
            
           
          </div>
          <button class="prev-arrow">&#10094;</button>
          <button class="next-arrow">&#10095;</button>
              </div>
              <h3 class="event-title">Mock Drill Session</h3>
            </div>


             <div class="event">
              <div class="slider-container">
          <div class="slider">
            <img
              src="{% static 'images/events-images/water treatment session/Cover.jpg' %}"
              alt="water treatmnet session"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/water treatment session/1.jpg' %}"
              alt="water treatmnet session"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/water treatment session/2.jpg' %}"
              alt="water treatmnet session"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/water treatment session/3.jpg' %}"
              alt="water treatmnet session"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/water treatment session/4.jpg' %}"
              alt="water treatmnet session"
              class="event-image"
            />
            
           
          </div>
          <button class="prev-arrow">&#10094;</button>
          <button class="next-arrow">&#10095;</button>
              </div>
              <h3 class="event-title">Water Treatment Session</h3>
            </div>

             <div class="event">
              <div class="slider-container">
          <div class="slider">
            <img
              src="{% static 'images/events-images/cramp simulator/cover.png' %}"
              alt="cramp simulator"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/cramp simulator/1.jpg' %}"
              alt="cramp simulator"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/cramp simulator/2.jpg' %}"
              alt="cramp simulator"
              class="event-image"
            />
            
           
          </div>
          <button class="prev-arrow">&#10094;</button>
          <button class="next-arrow">&#10095;</button>
              </div>
              <h3 class="event-title">Cramp Simulator</h3>
            </div>


            <div class="event">
              <div class="slider-container">
          <div class="slider">
            <img
              src="{% static 'images/events-images/plantation drive 25/cover.jpg' %}"
              alt="plantation drive 25"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/plantation drive 25/1.jpg' %}"
              alt="plantation drive 25"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/plantation drive 25/2.jpg' %}"
              alt="plantation drive 25"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/plantation drive 25/3.jpg' %}"
              alt="plantation drive 25"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/plantation drive 25/4.jpg' %}"
              alt="plantation drive 25"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/plantation drive 25/5.jpg' %}"
              alt="plantation drive 25"
              class="event-image"
            />
            
           
          </div>
          <button class="prev-arrow">&#10094;</button>
          <button class="next-arrow">&#10095;</button>
              </div>
              <h3 class="event-title">Plantation Drive</h3>
            </div>

            <div class="event">
              <div class="slider-container">
          <div class="slider">
            <img
              src="{% static 'images/events-images/kipg 25/cover.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/1.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/2.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/3.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/4.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/5.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/6.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/7.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/kipg 25/8.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
           
          </div>
          <button class="prev-arrow">&#10094;</button>
          <button class="next-arrow">&#10095;</button>
              </div>
              <h3 class="event-title">240 hour ceremony</h3>
            </div>

            <div class="event">
              <div class="slider-container">
          <div class="slider">
            <img
              src="{% static 'images/events-images/International Wrestling Cup/cover.jpg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/1.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/2.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/3.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/4.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/5.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/6.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/7.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
            <img
              src="{% static 'images/events-images/International Wrestling Cup/8.jpeg' %}"
              alt="240-hour-ceremony"
              class="event-image"
            />
           
          </div>
          <button class="prev-arrow">&#10094;</button>
          <button class="next-arrow">&#10095;</button>
              </div>
              <h3 class="event-title">INDIA-RUSSIA-UZBEKISTAN Wrestling Cup</h3>
            </div>
      </section>
    </main>

    <div id="footer"></div>

    <script src="{% static 'header-footer.js' %}"></script>
    <script src="{% static 'events.js' %}"></script>
    <script src="{% static 'navigation.js' %}"></script> 
    
    <script src="{% static 'load-navi-bar.js' %}"></script>
  </body>
</html>
