<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NSS NSUT CELL</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="magazine.css">
    <link rel="stylesheet" href="navigation.css" /> 

    <link rel="icon" href="images/header-images/nss-logo.png" type="image/x-icon" />
</head>
<body> 
    <div id="header"></div> 

    <div id="navigation"></div>

    <main>
        <section class="mag">
            <h1>AZAD MAGAZINE</h1>
            <p>Our magazine AZAD serves as a platform to showcase the incredible work done by our volunteers throughout the year, highlight impactful projects, share inspiring stories, and keep our community updated on NSS activities. Through this publication, we aim to celebrate the spirit of service and foster a sense of belonging among our members and supporters.
            </p>
            <div class="card-container">
                <a href="https://heyzine.com/flip-book/a8cf612202.html#page/1" target="_blank" class="card">
                    <img src="images/magazine-images/azad3.png" alt="Magazine 1">
                    <h2>AZAD 3.0</h2>
                </a>
                <a href="https://heyzine.com/flip-book/07fbe57f79.html" target="_blank" class="card">
                    <img src="images/magazine-images/azad2.png" alt="Magazine 2">
                    <h2>AZAD 2.0</h2>
                </a>
                <a href="https://heyzine.com/flip-book/319693c7fd.html" target="_blank" class="card">
                    <img src="images/magazine-images/azad1.png" alt="Magazine 3">
                    <h2>AZAD 1.0</h2>
                </a>
                </a>
            </div>
        </section>
    </main>

    <div id="footer"></div> 

    <script src="header-footer.js"></script> 
    <script src="navigation.js"></script> 
    <script src="load-navi-bar.js"></script> 
    
</body>
</html>
