<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSS NSUT CELL</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="nssalumni.css" />
    <link rel="stylesheet" href="navigation.css" /> 

    <link rel="icon" href="images/header-images/nss-logo.png" type="image/x-icon" />
    
  </head>
  <body>
    <div id="header"></div>

    <div id="navigation"></div>

    <main>
      <h1>Alumni of NSS</h1>
      <p class="alumni-description">
        The NSS NSUT alumni network is a vibrant and diverse group of
        individuals who have gone on to achieve remarkable successes in various
        fields. Many of our alumni continue to contribute to society through
        their professional endeavors, social initiatives, and community service,
        reflecting the values instilled during their time with NSS NSUT.
      </p>
      <section id="alumni-section">
        <div class="alumni-card" id="alumni1" onclick="showDetails('alumni1')">
          <img src="images/index-images/anuj-sir.jpg" alt="Alumni 1" />
          <h3>Mr. Anuj</h3>
          <p>Founding President</p>
        </div>
        <div class="alumni-details" id="alumni1-details">
          <div class="details-content">
            <div class="details-text"> 
              <p>
                As the Founding President of NSS NSUT Cell, I am proud to
                reflect on our incredible journey together. From our humble
                beginnings, we have grown into a vibrant community dedicated to
                service. NSS is not just an organization; it's a way of life
                that inspires us to give back. Our projects in environmental
                sustainability and social outreach highlight our commitment to
                making a difference. Embrace the spirit of service—it's an
                opportunity to lead, empathize, and create change. Together, we
                can amplify our impact and uphold the NSS legacy. Thank you for
                your dedication. Let's keep achieving great things!
              </p>
              <br />
              <p>Working at : Vedanta</p>
              <br>
              <p>
                Connect with them :
                <a href="https://www.linkedin.com/in/anujanuj/" target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>

        <div class="alumni-card" id="alumni2" onclick="showDetails('alumni2')">
          <img src="images/alumni-images/Pritika.jpg" alt="Alumni 2" />
          <h3>Ms. Pritika</h3>
          <p>Former President</p>
        </div>
        <div class="alumni-details" id="alumni2-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                Reflecting on my time with NSS, I can genuinely say it was the
                highlight of my college experience. NSS became my second home,
                and the volunteers turned into my extended family. Together, we
                created unforgettable memories, from adventure camps to
                organizing village events and nights spent camping and cooking.
                While managing our dynamic team was challenging, it taught me
                resilience, leadership, and teamwork. I am grateful for the
                opportunities and incredible people I met. To my juniors:
                embrace every chance with enthusiasm, build lasting friendships,
                and believe in yourself. The future holds immense potential for
                those ready to make an impact!
              </p>
              <br />
              <p>Working at : Maruti Suzuki</p>
              <br>
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/pritika-rawat?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>


        

        <div class="alumni-card" id="alumni2" onclick="showDetails('alumni3')">
          <img src="images/alumni-images/Harsh Dahiya.JPG" alt="Alumni 3" />
          <h3>Mr. Harsh Dahiya</h3>
          <p>Former Administrative Coordinator</p>
        </div>
        <div class="alumni-details" id="alumni3-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                My journey with the National Service Scheme (NSS) has been
                enriching, allowing me to engage in diverse community service
                activities. It began with the National Integration Camp (NIC)
                during the summer, where I created lasting memories and forged
                friendships with volunteers from across India. As the
                Administrative Coordinator, I organized impactful events like
                the "Run for Unity" in collaboration with the DM office. Late
                nights at the Student Activity Centre and memorable bonfires
                during a special camp at a village on Delhi's outskirts shaped
                my experience. Leading the design team for NSS,s Azad magazine
                in my final year was particularly fulfilling. I wish NSS
                continued success and hope it reaches new heights in community
                service!
              </p>
              <br />
              <p>Working at : TransOrg</p>
              <br>
              <!-- <p>
                Connect with them :
                <a href="https://www.linkedin.com/in/your-link" target="_blank"
                  >LinkedIn</a
                >
              </p> -->
            </div>
          </div>
        </div>

        <div class="alumni-card" id="alumni7" onclick="showDetails('alumni7')">
          <img
            src="images/alumni-images/ARSHDEEP SINGH DEOGUN.jpg"
            alt="Alumni 7"
          />
          <h3>Mr. Arshdeep Singh</h3>
          <p>Former Allied Work Head</p>
        </div>
        <div class="alumni-details" id="alumni7-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                As I conclude my NSUT journey, my heart swells with gratitude
                and nostalgia. My years with NSS NSUT Cell have been filled with
                memories of service, friendship, and growth. NSS was more than
                an organization; it was a family where we laughed, cried, and
                celebrated together. The National Integration Camp and Special
                Camp created bonds and left footprints of kindness. The trips to
                Dalhousie and Amritsar were unforgettable highlights of my
                college life! NSS taught me that unity is our greatest strength.
                To new volunteers: innovate and build upon our legacy. Thank
                you, NSS, for shaping me into a compassionate individual!
              </p>
              <br />
              <p>Working at : Bajaj Finance</p>
              <br>
              <!-- <p>
                Connect with them :
                <a href="https://www.linkedin.com/in/your-link" target="_blank"
                  >LinkedIn</a
                >
              </p> -->
            </div>
          </div>
        </div>

        <div class="alumni-card" id="alumni9" onclick="showDetails('alumni9')">
          <img
            src="images/alumni-images/Chhaviyush Kusumakar.JPG"
            alt="Alumni 9"
          />
          <h3>Mr. Chhaviyush Kusumakar</h3>
          <p>Former Vice President</p>
        </div>
        <div class="alumni-details" id="alumni9-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                It's been a bittersweet journey, but that's what adventures are
                all about. NSS has been the epicenter of my university life.
                Starting college during COVID and witnessing everything go
                virtual, my first offline NSS orientation in the sports complex
                is a cherished memory of meeting the amazing people who
                accompanied me on this voyage. Taking initiative, working as a
                team, and leading for the greater good motivated me to explore
                my capabilities. From coordinating national-level events to
                staying in villages, each experience offered valuable lessons.
                To the juniors: take initiative for yourself, make tough
                decisions, and be accountable. My best wishes to you all—keep
                the NSS NSUT legacy alive! Cheers to everyone I met, who became
                friends, mentors, and taught me invaluable life lessons. As this
                chapter closes, I hope to see you all on the other side. Thank
                you!
              </p>
              <br />
              <p>Working at : Maruti Suzuki</p>
              <br>
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/chhaviyush-kusumakar-220017168?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>
        <div
        class="alumni-card"
        id="alumni10"
        onclick="showDetails('alumni10')"
      >
        <img src="images/alumni-images/Gurkirat singh.jpg" alt="Alumni 10" />
        <h3>Mr. Gurkirat Singh</h3>
        <p>Former Report Head</p>
      </div>
      <div class="alumni-details" id="alumni10-details">
        <div class="details-content">
          <div class="details-text">
            <p>
              My NSS journey began as a volunteer for the inauguration of the
              APJ complexes. Who knew I would later manage activities ranging
              from report writing to organizing cultural nights during NIC?
              I'll always remember the sleepless nights during various events.
              With no prior experience in graphic design, NSS helped me unlock
              a hidden talent while making final edits for the magazine. The
              late-night ice cream heists during NIC will forever be
              cherished. Conducting plantation, plogging, and survey drives in
              villages and receiving appreciation from the villagers made it
              all worthwhile. The thrill of a 20 km trek back to our hostel in
              Dalhousie and the exciting bus rides from Delhi to Amritsar are
              unforgettable moments. There are no words to express the joy of
              passing the baton to the next group of dedicated volunteers!
            </p>
            <br />
            <p>Working at : Trinity Life Sciences</p>
            <br>
            <p>
              Connect with them :
              <a
                href="https://www.linkedin.com/in/gurkirat-singh-b9b01b216?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                >LinkedIn</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="alumni-card" id="alumni8" onclick="showDetails('alumni8')">
        <img src="images/alumni-images/Ayush Kotwar.jpg" alt="Alumni 8" />
        <h3>Mr. Ayush Kotwar</h3>
        <p>Former Report Head</p>
      </div>
      <div class="alumni-details" id="alumni8-details">
        <div class="details-content">
          <div class="details-text">
            <p>
              I joined NSS in 2020, starting with the task of escorting the
              Chief Guests at the inauguration of the APJ Theatre Complex. It
              sounded easy, but that was just the beginning! I often found
              myself driving around to gather items for events or writing
              reports. Working in the adopted villages was particularly
              fulfilling, allowing me to directly impact many lives. NSS
              organized trips for volunteers, including a memorable 20 km walk
              in Dalhousie to return to camp. During our exposure visit from
              Delhi to Amritsar, we woke up at 4 am to visit the breathtaking
              Golden Temple. Waiting in line for three hours taught me
              patience. I wish the new team of dedicated volunteers the best
              of luck and hope they continue to elevate NSS to greater
              heights!
            </p>
            <br />
            <p>Working at : Maruti</p>
            <br>
            <p>
              Connect with them :
              <a
                href="https://www.linkedin.com/in/ayush-kotwar-8459b2239?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                target="_blank"
                >LinkedIn</a
              >
            </p>
          </div>
        </div>
      </div>
      <div
          class="alumni-card"
          id="alumni13"
          onclick="showDetails('alumni13')"
        >
          <img
            src="images/alumni-images/Sushrut M Dhakate.JPG"
            alt="Alumni 13"
          />
          <h3>Mr. Sushrut Dhakate</h3>
          <p>Former Project Head</p>
        </div>
        <div class="alumni-details" id="alumni13-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                My journey with NSS has been exciting and filled with
                opportunities and joy. NSS has instilled confidence in me to
                make decisions and initiatives. I learnt a lot from seniors and
                applied my knowledge to further develop initiatives like Project
                Aasha. The skills of social engagement are still beneficial for
                me in my daily life while making professional relationships and
                meeting new people. I am grateful to NSS for providing me the
                experience of lifetime(Adventure Camp too) and wish the success
                of NSS NSUT CELL in the forthcoming years. ✨
              </p>
              <br />
              <p>Working at : CNH</p>
              <br>
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/sushrut-dhakate-71b63a22b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>

        <div class="alumni-card" id="alumni4" onclick="showDetails('alumni4')">
          <img
            src="images/alumni-images/Hemant Kr Rohilla.jpg"
            alt="Alumni 4"
          />
          <h3>Mr. Hemant Kr Rohilla</h3>
          <p>Former Management Executive</p>
        </div>
        <div class="alumni-details" id="alumni4-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                My journey with NSS has been filled with growth, learning,
                and unforgettable moments. I take immense pride in the
                enthusiasm and dedication within our unit. Reflecting on my time
                with NSS, I cherish the hours spent in service, the camaraderie
                during events, and the invaluable lessons learned through
                teamwork. Yes, challenges arose, but they highlighted the
                essence of collaboration. The bonds forged with mentors and the
                NSS family have expanded my horizons. To current and future
                torchbearers, stay committed and remember that every small act
                creates positive change!
              </p>
              <br />
              <p>Working at : RockWell Automation</p>
              <br>
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/hemant-kumar-rohilla-0aa089245?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>

        
        <div class="alumni-card" id="alumni6" onclick="showDetails('alumni6')">
          <img src="images/alumni-images/Aditya Bisht.jpg" alt="Alumni 6" />
          <h3>Mr. Aditya Bisht</h3>
          <p>Former Design Head</p>
        </div>
        <div class="alumni-details" id="alumni6-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                Starting my NSUT journey during the COVID era meant my college
                life began on laptop screens, far from the vibrant campus I had
                dreamed of. NSS completely transformed my experience. From
                participating in the Youth Parliament to attending memorable
                events like the Dalhousie adventure camp, NSS helped me break
                out of my shell and forge lasting friendships. As a shy
                second-year student, these moments were invaluable. NSS not only
                provided unforgettable experiences but also played a crucial
                role in my personal development, particularly in honing my
                graphic design skills. Becoming the Graphic Design Head was a
                proud achievement for me. I'm deeply thankful to NSS for its
                incredible impact on my life. A special shoutout to Anuj Sir and
                all my amazing friends who made this journey so remarkable.
              </p>
              <br />
              <p>Working at : Polestar</p>
              <br>
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/aditya-bisht-a53749215?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>

        


        

        
        

        <div class="alumni-card" id="alumni5" onclick="showDetails('alumni5')">
          <img src="images/alumni-images/CHIRAG JAIN.jpg" alt="Alumni 5" />
          <h3>Mr. Chirag Jain</h3>
          <p>Former Senior Executive</p>
        </div>
        <div class="alumni-details" id="alumni5-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                Saying goodbye isn't easy, especially reflecting on the two
                amazing years we've shared. Since joining NSS in January 2022,
                I,ve experienced a rollercoaster of learning, fun, and
                friendship. Initially shy, I found my place during the National
                Integration Camp in May 2022, gaining confidence and lifelong
                friendships. I am deeply grateful to each member of this
                incredible family for your support and inspiration. As we embark
                on new adventures, let's carry forward the spirit of
                NSS—service, unity, and compassion. To my juniors: "मंजिल मिले न
                मिले ये तो मुकद्दर की बात है, हम कोशिश भी न करे ये तो गलत बात
                है."
              </p>
              <br />
              <p>Working at : TCS</p>
              <br>
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/chirag-jain-617035213?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>

        <div
          class="alumni-card"
          id="alumni14"
          onclick="showDetails('alumni14')"
        >
          <img src="images/alumni-images/Vanshika.jpg" alt="Alumni 14" />
          <h3>Ms. Vanshika</h3>
          <p>Former Senior Executive</p>
        </div>
        <div class="alumni-details" id="alumni14-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                Dear NSS team Members, As I prepare to move on from college, I
                wanted to take a moment to say goodbye and thank you all. Being
                part of this society has been an incredible experience, filled
                with learning, growth, and wonderful memories. I am grateful for
                the friendships and the teamwork we've shared. Each one of you
                has contributed to making my time here special and
                unforgettable. I wish NSS NSUT CELL continued success and hope
                it reaches even greater heights by serving to society. Thank you
                for everything!Best wishes, VANSHIKA TANWAR
              </p>
              <br />
              <!-- <p>
                Connect with them :
                <a href="https://www.linkedin.com/in/your-link" target="_blank"
                  >LinkedIn</a
                >
              </p> -->
            </div>
          </div>
        </div>

        <div class="alumni-card" id="alumni11" onclick="showDetails('alumni11')">
          <img src="images/alumni-images/katyani-maam.jpg" alt="Alumni 11" />
          <h3>Ms. Katyayani</h3>
          <p>Former Senior Executive</p>
        </div>
        <div class="alumni-details" id="alumni11-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                Reflecting on my journey with NSS brings a flood of memories,
                from exhilarating highs to challenging lows. When I first
                joined, I was both excited and apprehensive, not realizing NSS
                would become my second home. We've faced tight deadlines,
                chilling nights in Nanakheri, and setbacks, but we persevered
                together. Late-night brainstorming sessions fueled by coffee,
                laughter, and the thrill of seeing our hard work pay off are
                moments I'll treasure forever. The friendships made, the
                unforgettable trips to Dalhousie and Amritsar, and attending the
                National Youth Festival 2024 in Nashik are highlights. Thank
                you, NSS, for being part of this incredible journey!
              </p>
              <br />
              <p>Working at : Logic Fruit Technologies</p>
              <br>
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/katyayani-gupta-4592ab219?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>

        <div
          class="alumni-card"
          id="alumni12"
          onclick="showDetails('alumni12')"
        >
          <img src="images/alumni-images/Shreya Gupta.jpg" alt="Alumni 12" />
          <h3>Ms. Shreya Gupta</h3>
          <p>Former Senior Executive</p>
        </div>
        <div class="alumni-details" id="alumni12-details">
          <div class="details-content">
            <div class="details-text">
              <p>
                While goodbyes bring a touch of sadness, the bonds forged
                through shared service will always hold a special place in my
                heart. NSS has been an essential part of my college life. Being
                among the few from our branch to join made this journey even
                more special. We collected countless memories while fulfilling
                our duties. NSS offered us not just trips and refreshments but
                also invaluable lessons. Although I missed my special camp with
                the seniors, I had just as much fun with the juniors. NSS is
                more than a society; it's an emotion, a source of support. Thank
                you, NSS family, for the unforgettable memories!
              </p>
              <br />
              <p>
                Connect with them :
                <a
                  href="https://www.linkedin.com/in/shreya-gupta-55081922a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                  target="_blank"
                  >LinkedIn</a
                >
              </p>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div id="footer"></div>

    <script src="nssalumni.js"></script>
    <script src="header-footer.js"></script>
    <script src="navigation.js"></script>
    
    <script src="load-navi-bar.js"></script>
  </body>
</html>
