<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NSS NSUT CELL</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="pors.css" />
    <link rel="stylesheet" href="navigation.css" />

    <link rel="icon" href="images/header-images/nss-logo.png" type="image/x-icon" />
  </head>
  <body>
    <div id="header"></div> 

    <div id="navigation"></div>

    <main>
      <section>
        <h1>Positions of Responsibility (POR) in NSS</h1>
        <p class="por-description">
          The Positions of Responsibility (POR) within the NSS (National Service
          Scheme) at NSUT are critical roles held by dedicated students who lead
          various initiatives and programs aimed at community service and social
          development. These positions include leadership roles such as the
          President and Vice President, as well as coordinators for
          administration, management, graphic design, content and social media.
          Each member brings unique skills and passion, working collaboratively
          to organize events, engage with the community, and promote social
          awareness among peers. Through their commitment and teamwork, they not
          only contribute to the NSS's mission but also foster a spirit of
          volunteerism and social responsibility within the university.
        </p>
        <div class="card-container">
          <div class="card">
            <h2>President</h2>
            <img src="images/por-images/raman-yadav.png" alt="Person 1" />
            <h3>Raman Yadav</h3>
          </div>
          <div class="card">
            <h2>Vice President</h2>
            <img src="images/por-images/deepanshu.png" alt="Person 2" />
            <h3>Deepanshu Thadiwal</h3>
          </div>
          <div class="card">
            <h2>Administrative Coordinator</h2>
            <img src="images/por-images/khushi.png" alt="Person 3" />
            <h3>Khushi Jain</h3>
          </div>
          <div class="card">
            <h2>Administrative Coordinator</h2>
            <img src="images/por-images/pooja.png" alt="Person 4" />
            <h3>Pooja Sakkarwal</h3>
          </div>
          <div class="card">
            <h2>Management Executive</h2>
            <img src="images/por-images/aryan.png" alt="Person 5" />
            <h3>Aryan Mahendru</h3>
          </div>
          <div class="card">
            <h2>Operational Executive</h2>
            <img src="images/por-images/rahul.png" alt="Person 6" />
            <h3>Rahul</h3>
          </div>
          <div class="card">
            <h2>Graphic Design Head</h2>
            <img src="images/por-images/rakshit.png" alt="Person 7" />
            <h3>Rakshit Bangar</h3>
          </div>
          <div class="card">
            <h2>Graphic Design Head</h2>
            <img src="images/por-images/anushk.png" alt="Person 8" />
            <h3>Anushk Prakash</h3>
          </div>
          <div class="card">
            <h2>Social Media Head</h2>
            <img src="images/por-images/muskan.png" alt="Person 9" />
            <h3>Muskan</h3>
          </div>
          <div class="card">
            <h2>Social Media Head</h2>
            <img src="images/por-images/dhruv.png" alt="Person 10" />
            <h3>Dhruv Bansal</h3>
          </div>
          <div class="card">
            <h2>Content Head</h2>
            <img src="images/por-images/ananya.png" alt="Person 11" />
            <h3>Annanya Verma</h3>
          </div>
          <div class="card">
            <h2>Content Head</h2>
            <img src="images/por-images/vansh.png" alt="Person 12" />
            <h3>Vansh Kakkar</h3>
          </div>
          <div class="card">
            <h2>Logistics Head</h2>
            <img src="images/por-images/bishal.png" alt="Person 13" />
            <h3>Bishal Sarkar</h3>
          </div>
          <div class="card">
            <h2>Public Relations Head</h2>
            <img src="images/por-images/chhavi.png" alt="Person 14" />
            <h3>Chhavi Chhabra</h3>
          </div>
          <div class="card">
            <h2>Allied Work Head</h2>
            <img src="images/por-images/lalit.png" alt="Person 15" />
            <h3>Lalit Panghal</h3>
          </div>
        </div>
      </section>
    </main>

    <div id="footer"></div>

    <script src="header-footer.js"></script>
    <script src="navigation.js"></script>
    
    <script src="load-navi-bar.js"></script> 
  </body>
</html>
